# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log

# WebStorm Configuration File
.idea

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
